* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
body{
    background-color: darkcyan;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 18px;
    color:rgb(90, 89, 89);
    text-decoration: none;
    font-weight: 550;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color:rgb(7, 63, 24) ;
}

.home{
    
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content{
    max-width: 600px;
}

.home-content h1 {
    color: white;
    font-size:56px;
    font-weight: 700;
    
}


.img img{
    border-radius: 50%;
    width: 15px;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: darkcyan;
}

::-webkit-scrollbar-track{
    background-color: black;
    width: 50px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background-color: white;
}

.img img{
    position: relative;
    width: 400px;
    box-shadow: 0 0 25px darkcyan,
                0 0 25px darkcyan;
    border-radius: 50%;
}

.aboutcontent h2{
    text-align: left;
    color: darkcyan;
    font-size: 42px;
}

.edu h1{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    color: white;
    font-size: 42px;
    
}
.edu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background-color: darkcyan;
}
.edu ul{
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 42px;
}

.int{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background-color: white;
}
.int ul{
    text-align: left;
    color: darkcyan;
    font-size: 42px;
}

.skill{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background-color: darkcyan;
}
.skill ul{
    text-align: left;
    color: white;
    font-size: 42px;
}
.vision{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background-color: white;
}
.vision h2{
    text-align: left;
    color: darkcyan;
    font-size: 42px;
}

.insp{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background-color: darkcyan;
}
.insp h2{
    text-align: left;
    color: white;
    font-size: 42px;
}

.memo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background-color: white;
}
.memo h2{
    text-align: left;
    color: darkcyan;
    font-size: 42px;
}


.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: transparent;
}

.footer .social{
    text-align: center;
    padding-bottom: 10px;
    color: darkcyan;
     
}
.footer .social a{
   font-size: 24px;
   color: rgb(255, 255, 255);
   border: 2px solid rgb(255, 255, 255);
   width: 40px;
   height: 40px;
   line-height: 38px;
   display: inline-block;
   text-align: center;
   border-radius: 50%;
   margin: 0 8px;
   box-shadow: inset  0 0 10px rgb(255, 255, 255),o o 10 rgb(255, 255, 255);
   transition: 0.3s ease;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}
.footer h2{
    text-align: center;
    padding-bottom: 10px;
    color: white;
    
}